{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% block javascript %}
	<script>
	    // 無限ループアニメーション関数
		$(function(){
			$('.brandloop__inner').each(function(){
				var sliderWidth = $(this).width();

				$(this).clone(true).insertBefore(this);
				$(this).clone(true).insertAfter(this);

				$('.brandloop').css('width', sliderWidth*3);
			});
		});
	</script>
{% endblock %}

<div id="footer" class="ec-footerRole">
	<div class="brandloop">
		<div class="brandloop__inner">
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=24">
					<img src="{{ asset('assets/img/common/audience.jpg','user_data') }}" alt="audience">
				</a>
			</div>
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=61">
					<img src="{{ asset('assets/img/common/BuzzRicksons.jpg','user_data') }}" alt="BuzzRicksons">
				</a>
			</div>
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=16">
					<img src="{{ asset('assets/img/common/modemdesign.jpg','user_data') }}" alt="modemdesign">
				</a>
			</div>
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=50">
					<img src="{{ asset('assets/img/common/HOUSTON.jpg','user_data') }}" alt="HOUSTON">
				</a>
			</div>
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=63">
					<img src="{{ asset('assets/img/common/Champion.jpg','user_data') }}" alt="Champion">
				</a>
			</div>
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=18">
					<img src="{{ asset('assets/img/common/BENDS.jpg','user_data') }}" alt="bend(s)">
				</a>
			</div>
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=6">
					<img src="{{ asset('assets/img/common/Johnbull.jpg','user_data') }}" alt="Johnbull">
				</a>
			</div>
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=44">
					<img src="{{ asset('assets/img/common/SugarCane.jpg','user_data') }}" alt="SugarCane">
				</a>
			</div>
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=62">
					<img src="{{ asset('assets/img/common/SugarCaneLight.jpg','user_data') }}" alt="SugarCaneLignt">
				</a>
			</div>
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=60">
					<img src="{{ asset('assets/img/common/SunSurf.jpg','user_data') }}" alt="SunSurf">
				</a>
			</div>
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=91">
					<img src="{{ asset('assets/img/common/PLESIC.jpg','user_data') }}" alt="PLESIC">
				</a>
			</div>
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=66">
					<img src="{{ asset('assets/img/common/Leminor.jpg','user_data') }}" alt="Leminor">
				</a>
			</div>
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=67">
					<img src="{{ asset('assets/img/common/thrasher.jpg','user_data') }}" alt="THRASHER">
				</a>
			</div>
			<div class="brandloop__item">
				<a href="{{ url('product_list') }}?category_id=64">
					<img src="{{ asset('assets/img/common/SLICK.jpg','user_data') }}" alt="SLICK">
				</a>
			</div>
		</div>
	</div>
	<div class="ec-footerRole__inner">
		<div class="ec-footerTitle">
			<h3 class="footerTitle footerTitle__sp">つながる</h3>
			<a class="ec-footerTitle__sns" href="https://www.instagram.com/yuheioono/?hl=ja" target="_blank">
				<i class="fab fa-instagram"></i>
			</a>
			<a class="ec-footerTitle__sns" href="https://www.facebook.com/UTSURAofficial/" target="_blank">
				<i class="fab fa-facebook-square"></i>
			</a>
			<a class="ec-footerTitle__sns" href="https://twitter.com/UTSURA3?s=20" target="_blank">
				<i class="fab fa-twitter"></i>
			</a>
			<h4 class="footerTitle__sp">
				公式SNSアカウント
			</h4>
			<p class="footerTitle__sp">Twitter、facebook、Instagramの</br>公式アカウント。</p>
		</div>
		<ul class="ec-footerNavi">
			<li class="ec-footerNavi__title">
				<h3 class="footerTitle">お買い物ガイド</h3>
			</li>
			<li class="ec-footerNavi__link">
				<a href="{{ url('help_about') }}">{{ '当サイトについて'|trans }}</a>
			</li>
			<li class="ec-footerNavi__link">
				<a href="{{ url('entry') }}">{{ '新規会員登録'|trans }}</a>
			</li>
			<li class="ec-footerNavi__link">
				<a href="{{ url('help_guide') }}">{{ 'ご利用ガイド'|trans }}</a>
			</li>
			<li class="ec-footerNavi__link">
				<a href="{{ url('contact') }}">{{ 'お問い合わせ'|trans }}</a>
			</li>
		</ul>
		<ul class="ec-footerNotice">
			<li class="ec-footerNotice__link">
				<a href="{{ url('help_privacy') }}">{{ 'プライバシーポリシー'|trans }}</a>
			</li>
			<li class="ec-footerNotice__link">
				<a href="{{ url('help_tradelaw') }}">{{ '特定商取引法に基づく表記'|trans }}</a>
			</li>
			<li class="ec-footerNotice__copyright">
				<a class="ec-footerTitle__logo" href="{{ url('homepage') }}">
					{{ BaseInfo.shop_name }}
				</a>
				<span>
					copyright (c)
					{{ BaseInfo.shop_name }}
					all rights reserved.
				</span>
			</li>
		</ul>
	</div>
</div>

