{#
/*
 *
 * Copyright (C) SPREAD WORKS Inc. All Rights Reserved.
 *
 */
#}
{% set Products = CustomizeNewProduct() %}
{% if Products|length > 0 %}
<div class="ec-role">
    <div class="ec-sectionItemRole">
        <div class="ec-sectionItemRole__wrapper">
            <div class="ec-sectionItemRole__listItemHeading ec-secHeading--tandem">
                <span class="ec-secHeading__en">{{ 'front.block.new_item.title__en'|trans }}</span>
                <span class="ec-secHeading__ja">{{ 'front.block.new_item.title__ja'|trans }}</span>
            </div>
        </div>
        <div class="ec-sectionItemRole__list">
            {% for Product in Products %}
            <div class="ec-sectionItemRole__listItem">
                <a href="{{ url('product_detail', {'id': Product.id}) }}">
                    <img class="lazyload" data-src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                    <p class="ec-sectionItemRole__listItemTitle">{{ Product.name }}</p>
                    <p class="ec-sectionItemRole__listItemPrice">
                    {% if Product.hasProductClass %}
                        {% if Product.getPrice02Min == Product.getPrice02Max %}
                            {{ Product.getPrice02IncTaxMin|price }}
                        {% else %}
                            {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                        {% endif %}
                    {% else %}
                        {{ Product.getPrice02IncTaxMin|price }}
                    {% endif %}
                    </p>
                </a>
            </div>
            {% endfor %}
        </div>
        <a class="ec-inlineBtn--top" href="{{ url('product_list') }}?category_id=1">{{ 'front.block.new_item.more'|trans }}</a>
    </div>
</div>
{% endif %}
