{#
/*
 * This file is part of the SameCategoryProduct plugin
 *
 * Copyright(c) 2020 Yamato Ltd.
 */
#}
{% if SameCategoryProducts is defined %}
    <div class="ec-role">
        <div class="ec-newItemRole">
            <div class="ec-newItemRole__wrapper">
                <div class="ec-newItemRole__listItemHeading ec-secHeading--tandem">
                    <span class="ec-secHeading__en">Category Product</span>
                    <span class="ec-secHeading__ja">同じカテゴリの商品</span>
                </div>
                <div class="ec-newItemRole__list">
                    {% for Product in SameCategoryProducts %}
                    <div class="ec-newItemRole__listItem">
                        <a href="{{ url('product_detail', {'id' : Product.id}) }}">
                            <img class="lazyload" data-src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                            <p class="ec-newItemRole__listItemTitle">
                                {{Product.name}}
                            </p>
                            <p class="ec-newItemRole__listItemPrice">
                            {% if Product.hasProductClass %}
                                {% if Product.getPrice02Min == Product.getPrice02Max %}
                                    {{ Product.getPrice02IncTaxMin|price }}
                                {% else %}
                                    {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                                {% endif %}
                            {% else %}
                                {{ Product.getPrice02IncTaxMin|price }}
                            {% endif %}
                            </p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}