{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block stylesheet %}

	<style>
		.aboutLead{
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 0.04em;
			text-align: center;
			line-height: 2.18;
		}

		.ec-pageImg__main{
		width: 80%;
		margin: 0 auto;
		}

		.ec-pageImg__sub{
			display: flex;
		}

		.ec-pageImg__sub img{
			padding: 18px 8px;
		}

		.ec-about__profile{
			padding-top: 20px;
			display: flex;
		}

		.profile__img {
			width: 30%;
			margin-right: 16px;
		}

		.profile__text {
			width: 70%;
		}

		.profile__text h2 {
			font-size: 24px;
			font-weight: 700;
			padding: 8px;
			letter-spacing: 0.04em;
		}

		.profile__text span {
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 0.04em;
			line-height: 1.5;
		}

		.about__text {
			margin: 32px 0 32px 0;
		}

		.about__text p {
			font-size: 16px;
			line-height: 1.6;
			letter-spacing: 0.04em;
		}
		.aboutInfo {
			max-width: 800px;
			margin: 32px auto 16px auto;
			display: flex;
		}

		.aboutInfo__logo {
			width: 30%;
		}

		.aboutInfo__logo a {
			color: black;
			font-size: 24px;
			font-weight: 700;
		}

		.aboutInfo__logo p {
			font-weight: 700;
		}

		.aboutInfo__text {
			width: 70%;
			display: flex;
			flex-wrap: wrap;
		}

		.aboutInfo__text dt {
			width: 20%;
			padding: 0 8px 8px 0;
			line-height: 1.6;
		}

		.aboutInfo__text dd {
			width: 80%;
			line-height: 1.6;
			padding: 0 8px 8px 0;
		}

		.aboutOther {
			text-align: right;
			display: block;
		}

	</style>

{% endblock %}

{% block main %}

	<div class="ec-role">
		<div class="ec-pageHeader">
			<h1>{{ '当サイトについて'|trans }}</h1>
			{# <img src="{{ asset('assets/img/common/logo.png', 'user_data') }}"> #}
		</div>
		<div class="ec-off1Grid">
			<div class="ec-off1Grid__cell">
				<p class="aboutLead">
				東京 八王子にあるセレクトショップ。</br>
				大野裕平がオーナー兼バイヤーとして、「おもちゃ箱をヒックリ返したような店」を</wbr>目指している。
				</p>
				<div class="ec-pageImg__sub">
					<img src="{{ asset('assets/img/common/about__sub1.jpg', 'user_data') }}">
					<img src="{{ asset('assets/img/common/about__sub2.jpg', 'user_data') }}">
				</div>
				<div class="ec-about__profile">
					<div class="profile__img">
						<img src="{{ asset('assets/img/common/about__man.jpg', 'user_data') }}">
					</div>
					<div class="profile__text">
						<h2>大野裕平</h2>
						<span>
							1987年生まれ
							<br>
							UTSURAのオーナー兼バイヤー</br>
							都内のセレクトショップを経て、UTSURAに入社。その後、同店の営業権を買い取りオーナーとなった。
						</span>
					</div>
				</div>
				<div class="about__text">
					<p>
						UTSURAには、大野裕平が一つ一つ選び抜いたアイテムが並べられる。<br>
						ファッションを知り尽くしたメーカーが、最新技術を駆使して作り上げたもの、
						職人の拘りの詰まったバングルやネックネス等。<br><br>
						オーナーの体験に基づき、ブランドの背景や文化も合わせて紹介する。
						素材やデザインからなる“ホンモノの服”を提案することが私たちの使命です。
					</p>
				</div>
				<div class="ec-pageImg__main">
					<img src="{{ asset('assets/img/common/about__main.jpg', 'user_data') }}">
				</div>
				<div class="aboutInfo">
					<div class="aboutInfo__logo">
						<a href="{{ url('homepage') }}">{{ BaseInfo.shop_name }}</a>
						<p>ウツラ</p>
					</div>
					<dl class="aboutInfo__text">
						<dt>
							<label class="ec-label">店名</label>
						</dt>
						<dd>UTSURA</dd>

						<dt>
							<label class="ec-label">住所</label>
						</dt>
						<dd>〒192-0075<br/>
							東京都八王子市中町１２−８</br>
							<a href="https://goo.gl/maps/5etw3aXBr5BoZMZh8" target="blank">
								Google Mapで確認する
							</a>
						</dd>

						<dt>
							<label class="ec-label">電話番号</label>
						</dt>
						<dd>042-626-7008</dd>

						<dt>
							<label class="ec-label">営業時間</label>
						</dt>
						<dd>１３時〜２３時</dd>

						<dt>
							<label class="ec-label">メッセージ</label>
							</dt>
						<dd>
							年中無休でやっておりますが、展示会等により、開店時間が遅れる場合がございます。
						</dd>
					</dl>
				</div>
				<span class="aboutOther">
					お店に対してのお問い合わせは
					<a href="{{ url('contact') }}">{{ 'こちら'|trans }}</a>
					にお願い致します。
				</span>

			</div>
		</div>
	</div>

{% endblock %}
